* {
    box-sizing: border-box;
    font-family: 'Reem Kufi', serif;
    margin:0;
    padding:0;
}

body html {
  display: block;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
}
section {
	  width: 100%;
	  height: 20%;
}

.block-1, .block-3, .block-5, .block-7, .block-9 {
		background-color: #F5F5F5;
}

.block-2, .block-4, .block-6, .block-8 {
		background-color: #E5E5E5;
}

/*sub-sections*/

.block-1 {
  background-color: lightblue;
}

.block-7 {
  text-align: center;
}

.center {
  border-right: 2px black dashed;
  border-left: 2px black dashed;
}

.left ul, .center ul, .right ul {
  padding-left: 5%;
}

.left li, .center li, .right li {
  text-align: left;
}

.left h4, .center h4, .right h4 {
  font-size: 2.5em;
  text-align: left;
  font-weight: 800;
}

.title {
  padding-left: 3.5%;
}

.motto-1 {
  margin: 5% 0;
}

.text {
  padding-left: 3.5%;
  padding-top: 2%;
}

.text-3 {
  padding-left: 2%;
}

.text-3 h2 {
  font-size: 4em;
}

.text-form {

}
/*Parallax Pics*/

.picture{
  padding: 5% 0;
}

.photo {
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: no-repeat;
  position: relative; 
}

.photo-2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative; 
}

.photo-3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative; 
  background-position: 100%;
}

.photo, .photo-2, .photo-3{
  border: 1px solid #999;
  background-color: #fcfcfc;
  padding: 4px;
}

.nyc-pic {
  height: 50em;
  background-image: url(../img/city2_large.jpg)
}

.nyc-pic-2 {
  height: 45em;
  background-image: url(../img/city_small.jpg)
  background-size: cover;
}

.blt-pic {
  height: 26em;
  background-image: url(../img/baltimore.jpg)
}

.blt-pic-2 {
  height: 26em;
  background-image: url(../img/baltimore_small.jpg);
  background-size: cover;
}

.mtl-pic  {
  height: 32em;
  background-image: url(../img/Montreal_2000.jpg)
}

.mtl-pic-2  {
  height: 40em;
  background-image: url(../img/Montreal_square.jpg);
  background-size: cover;
}

.mcgill-pic {
  height: 50em;
  background-image: url(../img/Mcgill_Adam5.jpg)
}

.ga-pic {
  height: 40em;
  background-image: url('../img/ga_center_crop.jpg')
}

.ga-pic-2 {
  height: 40em;
  background-image: url('../img/ga_block_2.png')
}
/*HEADERS*/

.title h1{
	font-size: 10em;
  text-align: center;
}

.title h4 {
  font-size: 1.8em;
  text-align: center;
  padding:0;
}

.block h3 {
	font-size: 2.8em;
  font-weight: bold;
}

.block h5 {
  font-size: 3.5em;
  text-align: center;
}

li {
	font-size: 2.5em;
}

.text h2 {
  font-size: 4em;
}

.address h4 {
  font-size: 1.38em;
  text-align: center;
  padding-top: 12.5%;
}

.motto-1 h4 {
  text-align: center;
  font-size: 4em;
}
/*
typed.js*/

.typed-cursor{
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }

  .city-button {
    height: 100%;
  }

   section button {
      font-size: 1em;
      padding: .25em .275em;
      height: 50px;
     /* width: 50%;*/
      /*margin-left: 20%;*/
      text-decoration: none;
      color: #787878;
      cursor:pointer;
  }

  form {
    padding-top: 10%;
    padding-left: 25%;
    padding-bottom: 10%;
  }

  form h5{
    font-size: 3em;
  }

  form p{
    font-size: 2em;
  }

  form li {
    margin-left: 4%;
  }

  input, textarea {
    height: 90px;
    width: 70%;
  }

  .message,.name, .email, .submit{
    font-size: 3em;
  }


 /* Pop-up forms */

    #test-form, #test-form1, #test-form2, #test-form3, #test-form4, #test-form5, #test-form6, #test-form7, #test-form8, #test-form9, #test-form10 {
      margin: 20%;
      border-right: 2px solid grey;
      background-color: #f4f4f4;
      padding: 2em;
      text-overflow: none;
      position: relative;
  }

  .mtl-button {
    height: 1.3em;
    font-size: 1em;
    padding-top: .15em;
    padding-bottom: .15em;
  }

  iframe {
    width: 100%;
    /*height: 100%;*/
  }

  video {
    width: 100%;
  }

  .footer-block {
    background-color: black;
  }

  .footer-block h7 {
    color: white;
  }

  .mobile-block {
    display: none;
  }

  

  @media only screen and (max-width: 1000px) {

     .block.mobile-block {
      display: block;
      background-position: 100%;
      background-repeat: no-repeat;
      position: relative; 
    }

  @media only screen and (min-width: 350px) {
    .block .remove {
      display: none;
    }

    .block .mobile-block {
      display: block;
      background-position: 100%;
      background-repeat: no-repeat;
      position: relative;
    }

    .message,.name, .email, .submit{
    font-size: 3em;
    width: 100%;
    }

    form {
      padding-left: 0;
    }

    .motto-1 h4 {
      font-size: 3.5em;
    }

    .footer-block h7 {
      font-size: 1.9em;
    }

    .city-button {
      width: 100%;
    }

    .text {
      padding-right: 3.5%;
    }

    .ga-pic {
    height: 48em;
    background-image: url('../img/ga_center_22.jpg')
    }

    .photo-3 {
      background-color: white;
    }

    .right, .left {
    border-right: 2px black dashed;
    border-left: 2px black dashed;
    }

    .description {
      font-size: 2.8em;
    }

    #test-form, #test-form1, #test-form2, #test-form3, #test-form4, #test-form5, #test-form6, #test-form7, #test-form8, #test-form9, #test-form10 {
      margin: 0;
    }


  }

/*  @media (min-width: @screen-sm-min) {
    .motto-1 h4{
      font-size: .8em;
    }
  }*/